*{
  font-family: "Raleway",Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.mainWidth{
  width: 1000px;
  margin: 0 auto;
}
header{
  width: 100%;
  background-color: black;
  color: white;
  font-size: 14px;
}
.topLogo{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
span{
  color: rgb(26,167,142);
}
nav{
  float: right;
}
nav>div{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  font-weight: bolder;
}
nav::after{
  clear: both;
  content: '';
  display: block;
}
.firstRow{
  height: 450px;
  background: linear-gradient(white, silver);
}
#leftArrow{
  float: left;
  font-size: 4.5em;
  color: rgb(26,167,142);
  font-weight: lighter;
  margin-top: 20%;
}
#blackChair{
  background-image: url("../images/black_chair.png");
  height: 300px;
  background-repeat: no-repeat;
  width: 400px;
  display: inline-block;
  margin-top: 10%;
}
.textBlock{
  display: inline-block;
  width: 430px;
  height: 300px;
  text-align: center;
  vertical-align: 60px;
}
h1{
font-size: 2.3em;
}
.clicker{
  width: 200px;
  background-color: rgb(26,167,142);
  height: 40px;
  border: 1px solid rgb(26,167,142);
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: lighter;
  margin: auto;
  line-height: 2em;
}
.rightArrow{
  float: right;
  font-size: 4.5em;
  color: rgb(26,167,142);
  font-weight: lighter;
  margin-top: 20%;
}
.secondRow{
  height: 315px;
  background-color: white;
  margin-top: 30px;
}
.whiteChair{
  background-image: url("../images/box1_img.jpg");
  height: 300px;
  width: 31%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}
.whiteChair div{
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top:150px;
}
.whiteChair p{
  font-weight: 700;
  border-bottom: 5px solid rgb(26,167,142);
  width: 145px;
}
.child{
  background-image: url("../images/box2_img.jpg");
  height: 300px;
  width: 31%;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 3%;
}
.child div{
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 150px;
}
.child p{
  font-weight: 700;
  border-bottom: 5px solid rgb(26,167,142);
  width: 145px;
}
.textBox{
  height: 260px;
  width: 31%;
  display: inline-block;
  border: 1px solid silver;
  margin-left: 3%;
  vertical-align: top;
  padding: 15px 15px 15px 20px;
}
.textBox h2{
  font-size: 1em;
  font-weight: 700;
  border-bottom: 5px solid rgb(26,167,142);
  width: 145px;
}
.thirdRow{
  width: 100%;
  background-color: rgba(80, 80, 80, 0.2);
  height: 800px;
}
h3{
  width: 30%;;
  border-bottom: 5px solid rgb(26,167,142);
  height: 30px;
  padding: 30px 1px;
  margin-bottom: 70px;
}
ul{
  padding-left: 0;

}
ul, li{
  list-style: none;
  text-align: center;
  height: 19px;
  margin-top: 19px;
  margin-bottom: 19px;
}
.basic{
  display: inline-block;
  height: 400px;
  width: 31%;
  border: 1px solid grey;
  margin-right: 3%;
  text-align: center;
}
.standard{
  display: inline-block;
  height: 400px;
  width: 31%;
  border: 1px solid grey;
  vertical-align: top;
  margin-right: 3%;
  text-align: center;
}
.advance{
  display: inline-block;
  height: 400px;
  width: 31%;
  border: 1px solid grey;
  vertical-align: top;
  text-align: center;
}
.clicker2{
  width: 150px;
  background-color: rgb(26,167,142);
  height: 30px;
  border: 1px solid rgb(26,167,142);
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: lighter;
  line-height: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 240px;
}
.clicker3{
  width: 150px;
  background-color: white;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  color: rgb(26,167,142);
  font-size: 1em;
  font-weight: lighter;
  line-height: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 240px;
}
