*{
  font-family: "Raleway",Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.mainWidth{
  width: 1000px;
  margin: 0 auto;
}
header{
  width: 100%;
  background-color: black;
  color: white;
  font-size: 14px;
}
.topLogo{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
span{
  color: rgb(26,167,142);
}
nav{
  float: right;
}
nav>div{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  font-weight: bolder;
}
nav::after{
  clear: both;
  content: '';
  display: block;
}
.firstRow{
  height: 450px;
  background: linear-gradient(white, silver);
}
#leftArrow{
  float: left;
  font-size: 4.5em;
  color: rgb(26,167,142);
  font-weight: lighter;
  margin-top: 20%;
}
#blackChair{
  background-image: url("../images/black_chair.png");
  height: 300px;
  background-repeat: no-repeat;
  width: 400px;
  display: inline-block;
  margin-top: 10%;
}
.textBlock{
  display: inline-block;
  width: 430px;
  height: 300px;
  text-align: center;
  vertical-align: 60px;
}
h1{
font-size: 2.3em;
}
.clicker{
  width: 200px;
  background-color: rgb(26,167,142);
  height: 40px;
  border: 1px solid rgb(26,167,142);
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: normal;
  margin: auto;
  line-height: 2em;
}
.rightArrow{
  float: right;
  font-size: 4.5em;
  color: rgb(26,167,142);
  font-weight: lighter;
  margin-top: 20%;
}
.secondRow{
  height: 315px;
  background-color: white;
  margin-top: 30px;
}
.whiteChair{
  background-image: url("../images/box1_img.jpg");
  height: 300px;
  width: 31%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}
.whiteChair div{
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top:150px;
}
.whiteChair p{
  font-weight: 700;
  border-bottom: 5px solid rgb(26,167,142);
  width: 145px;
}
.child{
  background-image: url("../images/box2_img.jpg");
  height: 300px;
  width: 31%;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 3%;
}
.child div{
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 150px;
}
.child p{
  font-weight: 700;
  border-bottom: 5px solid rgb(26,167,142);
  width: 145px;
}
.textBox{
  height: 260px;
  width: 31%;
  display: inline-block;
  border: 1px solid silver;
  margin-left: 3%;
  vertical-align: top;
  padding: 15px 15px 15px 20px;
}
.textBox h2{
  font-size: 1em;
  font-weight: 700;
  border-bottom: 5px solid rgb(26,167,142);
  width: 145px;
}
.thirdRow{
  width: 100%;
  background-color: rgba(80, 80, 80, 0.2);
  height: 600px;
}
h3{
  width: 30%;;
  border-bottom: 5px solid rgb(26,167,142);
  height: 30px;
  padding: 30px 1px;
  margin-bottom: 70px;
}
ul{
  padding-left: 0;

}
ul, li{
  list-style: none;
  text-align: center;
  height: 40px;
  line-height: 2.2em;
}
ul, li:first-child{
  background-color: rgb(220, 220, 220);
}
ul, li:nth-child(2n+2){
  background-color: rgba(220, 220, 220, 0.4);
}
.basic p{
  color: rgb(26,167,142);
}
.standard p{
  color: rgb(255,255,255);
}
.advance p{
  color: rgb(26,167,142);
}
.basic{
  display: inline-block;
  height: 400px;
  width: 31%;
  border: 1px solid grey;
  margin-right: 3%;
  text-align: center;
  background-color: rgb(255,255,255);
  color: rgb(105, 105, 105);
}
.standard{
  display: inline-block;
  height: 400px;
  width: 31%;
  border: 1px solid rgb(26,167,142);
  vertical-align: top;
  margin-right: 3%;
  text-align: center;
  background-color: rgb(26,167,142);
  color: rgb(105, 105, 105);
}
.standard li:nth-last-child(2n+1){
  background-color: rgb(255, 255, 255);
}
.standard li:nth-child(2n){
  background-color: rgb(211, 211, 211);
}
.advance{
  display: inline-block;
  height: 400px;
  width: 31%;
  border: 1px solid grey;
  vertical-align: top;
  text-align: center;
  background-color: rgb(255,255, 255);
    color: rgb(105, 105, 105);
}
.clicker2{
  width: 150px;
  background-color: rgb(26,167,142);
  height: 30px;
  border: 1px solid rgb(26,167,142);
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: normal;
  line-height: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 135px;
}
.clicker3{
  width: 150px;
  background-color: white;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  color: rgb(26,167,142);
  font-size: 1em;
  font-weight: normal;
  line-height: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 135px;
}
.topcircle{
  width: 45px;
  height: 45px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -22.5px;
}
.topcircle p{
  width: 20px;
  height: 20px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  background-color: lightgrey;
  margin: auto;
  margin-top: 11px;
}
.amount{
  margin-left: auto;
  margin-right: auto;
  line-height: 2em;
  width: 90px;
  height: 90px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 50%;
  color: lightgrey;
}
.amount::first-line{
  font-size: 1.7em;
  font-weight: bold;
}
.fourthRow{
  height: 600px;
}
form{
  width: 50%;
  margin: 0;
  display: inline-block;
}
input{
  display: inline-block;
  height: 60px;
  width: 100%;
  border: 1px solid rgb(26,167,142);
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 1.5em;
}
webkit-input-placeholder{
  color: lightgrey;
  margin-left: 10px;
}
textarea{

  border: 1px solid rgb(26,167,142);
  resize: none;
  width: 100%;
  height: 170px;
  font-size: 1.5em;
  margin-right: 0 auto;
}
.redChair{
  background-image: url("../images/red_chair.png");
  height: 200px;
  width: 25%;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
  margin-top: -20px;
  margin-left: 50px;
  display: inline-block;
}
.form1{
  background-image: url("../images/form_ok.jpg");
  height: 50px;
  width: 50px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgb(26,167,142);
  display: inline-block;
  margin-left: 0;
}
footer{
  margin-bottom: 100px;
}
#clause{
  color: grey;
  font-size: 1em;
  vertical-align: middle;
  width: 40%;
  margin: 0;
  display: inline;
}
#copy{
    float: left;
}
#copy::after{
  clear: left;
  content: '';
  display: block;
}
  #bottomLogo{
    float: right;
    margin: 0;
    vertical-align: top;
  }
}
#icons{
  margin-right: auto;
}
#twitter{
  float: right;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url("../images/twitter.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#pinterest{
  margin-left: 10px;
  float: right;
  background-image: url("../images/pinterest.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#vimeo{
  margin-left: 10px;
  float: right;
  background-image: url("../images/vimeo.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#flicker{
  float: right;
  background-image: url("../images/flickr.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#flicker::after{
  clear: right;
  display: block;
  content: '';
}
